<!doctype html>
<html style="background-image: url(https://i.imgur.com/lO2kVjs.jpg)">

<head>
    <title>Log In - Caramel</title>
    <link rel="stylesheet" type="text/css" href="/css/forum-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
</head>
<body>

<body>
<div class="header-top">
    <!-- <a href="#default" class="logo"><img src="https://i.imgur.com/JP98HE9.png" height="75px"></a> -->
    <a href="/" class="carma">car</a>
    <a href="/" class="guys">amel</a>
    <div class="header-right">
        <a href="/shop-login">Shop LogIn</a>
        <a class="active" href="/customer-register">Sign Up</a>
    </div>
</div>

<div class="center-container" style="background-image: url(https://i.imgur.com/FH8T5Fu.jpg)">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <p>caramel</p>
            <h1>Create Account</h1>
            <!-- LOGIN FORM -->
            <form action="/customer-register" method="post">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="email">
                </div>
                <div class="form-group">
                    <label>Create Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <button type="submit" class="btn btn-warning btn-lg">Register</button>
            </form>
            <p><a href="/customer-login" id="redirect">Already have an account? Login</a></p>
            <p><a href="/">Return home</a></p>
        </div>
    </div>
</div>
<div class="white-space"></div>
</body>
</html>
