<div class="header-top">
    <!-- <a href="#default" class="logo"><img src="https://i.imgur.com/JP98HE9.png" height="75px"></a> -->
    <a href="/" class="carma">car</a>
    <a href="/" class="guys">amel</a>
    <div class="header-right">
        <a href="/shop/<%= user._id %>/profile">Account</a>
        <a class="/logout" href="/customer-register">Log Out</a>
    </div>
</div>