<div class="top-header" style="background: white">
    <div class="header-navigation">
        <p><a href="/customer/<%= user._id %>/profile">MY PROFILE</a></p>
        <p><a href="/customer/<%= user._id %>/shops">MY SHOPS</a></p>
        <p><a href="/customer/<%= user._id %>/uploads">MY UPLOADS</a></p>
    </div>
</div>